@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap');
@import "./footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 80vh;
    background-color:#1A1A1D;
    
    }


.navbar {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(26,26,29,1) 0%, rgba(128,21,66,1) 65%, rgba(149,7,64,1) 100%);

    .logotipo {
        width: 250px;
        transition: width 2s;
        &:hover{
            width: 280px;
        }
    }
    
    .nav-item {
    padding-inline-start: 150px;
    display:flex;
    justify-content: space-between;
    a {
        color: #9c9c9e;
        text-decoration: none;
        font-size: 1.5rem;
        transition: all 2s;
        &:hover {
            color:#4e4e50;
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;                  
                
        }                   
           
    }
   }  
}

.container { 
    
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(255, 73, 147, 0.6) 0%, rgba(149,7,64,0.5634454465379901) 100%);

    h1 {
        color:#f3cad5;
    }

    h2 {
        text-align:right;
        color:#f3cad5;
       
    }

    p {
        color:#f3cad5;
        text-align: justify;


    }

    .containerVid {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        .mainContent__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;             
        }    
    
    }      
}            
         

 .card-body {
    background-color: rgba(255, 73, 147, 0.6) ;
    
    .card-text {
        a {
        text-decoration: none;
        color: #f3cad5;
        &:hover {
            color: rgb(26,26,29) ;
            }
    } 
  }

   
 }
 .title {
    color:#f3cad5;
 }
 .carousel {
    width: 80%;
    margin:auto;
  
}

.carousel-inner {
    align-content: center;
}


.formTurnos {
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(252,70,144,0.5942577714679622) 0%, rgba(149,7,64,0.5634454465379901) 100%);
    height: fit-content; 
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;
    border-radius: 30px;  
    font-family: 'Raleway', sans-serif;
    line-height: 15pt;

    
    
}

.formContacto {
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(252,70,144,0.5942577714679622) 0%, rgba(149,7,64,0.5634454465379901) 100%);
    height: fit-content; 
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;
    border-radius: 30px;  
    font-family: 'Raleway', sans-serif;
    line-height: 15pt;

    .form-label {
        
       width: fit-content;

    }

}

@media only screen and (max-width: 480px) {
    .logotipo {
     justify-self: center;
     width: 100%;
     
    }
 
    .nav-item {
     display: flex;    
     justify-content: flex-start;
 
     }
 
     .nav-item a {
         font-size: medium;
     }
     
   
   
 
    .formTurnos,
    .formContacto {
     width: 100%;
     height:fit-content;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
     height: max-content;

     .servicios {
        display:inline-block;
     }

     

     }
    }
 
    
 
 
 
 

