@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap');
@import "./footer";
@import "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 80vh;
    background-color: $colorbackg;
    
    }


.navbar {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(26,26,29,1) 0%, rgba(128,21,66,1) 65%, rgba(149,7,64,1) 100%);

    .logotipo {
        width: 250px;
        transition: width 2s;
        &:hover{
            width: 280px;
        }
    }
    
    .nav-item {
    padding-inline-start: 150px;
    display:flex;
    justify-content: space-between;
    a {
        color: $colornavitem;
        text-decoration: none;
        font-size: 1.5rem;
        transition: all 2s;
        &:hover {
            color:$colorhover;
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;                  
                
        }                   
           
    }
   }  
}

.container { 
    
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(255, 73, 147, 0.6) 0%, rgba(149,7,64,0.5634454465379901) 100%);

    h1 {
        color:$colortextoprin;
    }

    h2 {
        text-align:right;
        color:$colortextoprin;
       
    }

    p {
        color:$colortextoprin;
        text-align: justify;


    }

    .containerVid {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        .mainContent__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;             
        }    
    
    }      
}            
         

 .card-body {
    background-color: $colorbgp ;
    
    .card-text {
        a {
        text-decoration: none;
        color: $colortextoprin;
        &:hover {
            color: $colorhover;
            }
    } 
  }

   
 }
 .title {
    color: $colortextoprin;
 }
 .carousel {
    width: 80%;
    margin:auto;
  
}

.carousel-inner {
    align-content: center;
}

@mixin dimensiones($alto,$ancho,$bordradius) {
    height:$alto;
    width:$ancho;
    border-radius:$bordradius;
    

}

.formTurnos {
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(252,70,144,0.5942577714679622) 0%, rgba(149,7,64,0.5634454465379901) 100%);
    @include dimensiones(fit-content, 50%, 30px);
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;      
    font-family: 'Raleway', sans-serif;
    line-height: 15pt;

    
    
}





.formContacto {
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(252,70,144,0.5942577714679622) 0%, rgba(149,7,64,0.5634454465379901) 100%);
    @include dimensiones(fit-content, 50%, 30px);
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;    
    line-height: 15pt;

    .form-label {
        
       width: fit-content;

    }

}

@media only screen and (max-width: 480px) {
    .logotipo {
     justify-self: center;
     width: 100%;
     
    }
 
    .nav-item {
     display: flex;    
     justify-content: flex-start;
 
     }
 
     .nav-item a {
         font-size: medium;
     }


     @mixin dimensiones2($alto2,$ancho2,$display) {
        height: $alto2;
        width: $ancho2;
        display:$display;

     }       
   
 
    .formTurnos,
    .formContacto {
     @include dimensiones2(fit-content, 100%, flex);     
     flex-direction: column;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
     height: max-content;

     .servicios {
        display:inline-block;
     }    

     }
    } 
 
 
 

