@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap');
@import "../scss/utilities/variables";
@import "../scss/utilities/mixin";
@import "../scss/layout/footer";
@import "../scss/layout/header";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 80vh;     
    
    }

main {
    background-image: url(../img/tijerabcgtransparencia.png);  
    background-color: $colorbackg;   
}


 


.title {
    
        color: $colortextoprin;
        font-size: 5rem;
        padding-top: 20px;
     
           -webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
             animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
.containerIndex {   
    
        width: 80%;
        margin: auto;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: 
        "containerVid1 containerText1"
        "containerText2 containerVid2";
       
    
    
    
    .containerIndex_Vid1 {
        grid-area: containerVid1;
        padding-right: $paddingestandar;
        padding-top: $paddingestandar;
    }
    
    .containerIndex_Text1 {
        grid-area: containerText1;
        justify-content: right;
        padding-top: $paddingestandar;

        p {
            text-align: justify;
            padding-left: $paddingestandar;
        }
    }
    
    .containerIndex_Vid2 {
        grid-area: containerVid2;        
        padding-left: $paddingestandar;
        padding-top: 30px;
        padding-bottom: $paddingestandar;
    }
    
    .containerIndex_Text2 {
        grid-area: containerText2;
        justify-content: left;
        padding-right: $paddingestandar;
        padding-top: 30px;
        padding-bottom: $paddingestandar;

        p { 
            text-align: justify;
            padding-right: $paddingestandar;
            padding-top: 10px;

        }

       

        .titleSub {
            text-align: left;
            
        }
        
    }
  


    h1 {
        color:$colortextoprin;
    }

    h2 {
        text-align:right;
        color:$colorbgp;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px $colorhover;
       
    }

    p {
        color:$colortextoprin;
        text-align: justify;


    }

  

 
   
}            
         

 .card-body {
    background-color: $colorbackg;
    
    .card-text {
        a {
        text-decoration: none;
        color: $colortextoprin;
        &:hover {
            color: $colorhover;
            }
    } 
  }

   
 }
 
 .carousel {
    width: 70%;    
    margin:auto;


  .carousel-inner {
    align-content: center;
     }

    
 }



.formTurnos {
    background: $colorbackg;    
    @include dimensiones(fit-content, 50%, 30px);
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;      
    font-family: 'Raleway', sans-serif;
    color:$colortextoprin;
    line-height: 15pt;
    
    .btn {
        color:$colortextoprin;
        
    } 

    
    
}





.formContacto {
    background: $colorbackg; 
    @include dimensiones(fit-content, 50%, 30px);
    color:$colortextoprin;
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;    
    line-height: 15pt;

    .form-label {
        
       width: fit-content;

    }

}

@media screen and (max-width: 768px) {

    .containerIndex {  
    
        display:flex;
        flex-direction: column;


        .mainContent__video {
            width: 100%;
            
        }
      
       
    
            
            
    }

}

@media  screen and (max-width: 480px) {
    .logotipo {
     justify-self: center;
     width: 100%;
     
    }

    .title {
    
        color: $colortextoprin;
        font-size: 3rem;
        padding-top: $paddingestandar;
        justify-self: center;
        }


    .containerIndex {  
    
        display:flex;
        flex-direction: column;


        .mainContent__video {
            width: 100%;
            
        }    
    }           
      
    .carousel {
        width: 100%;
        margin:auto;
      
    }
 
    .nav-item {
     display: flex;    
     align-content: flex-start;
 
     }
 
     .nav-item a {
         font-size: medium;
     }
     

    .formTurnos,
    .formContacto {
     @include dimensiones2(fit-content, 100%, flex);     
     flex-direction: column;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
     height: max-content;

     .servicios {
        display:inline-block;
     }    

     }
    } 
 
 .mapa {
    width: 80%;
 }
 

/* ----------------------------------------------
 * Generated by Animista on 2022-9-21 21:19:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

