@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 80vh;
    background-color:#1A1A1D;
    
    }

.logotipo {
    width: 250px;
    transition: width 2s;
    &:hover{
        width: 280px;
    }
}

.navbar {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(26,26,29,1) 0%, rgba(128,21,66,1) 65%, rgba(149,7,64,1) 100%);
    .nav-item {
    padding-inline-start: 150px;
    display:flex;
    justify-content: space-between;
    a {
        color: #9c9c9e;
        text-decoration: none;
        font-size: 1.5rem;
        transition: all 2s;
        &:hover {
            color:#4e4e50;
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;                  
                
        }                   
           
    }
   }  
}

.container { 
    
    background: rgb(252,70,144);
    background: radial-gradient(circle, rgba(255, 73, 147, 0.6) 0%, rgba(149,7,64,0.5634454465379901) 100%);

    h1 {
        color:#f3cad5;
    }

    p {
        color:#f3cad5;

    }

    .containerVid {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        .mainContent__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;             
        }     
    
    }   
    
}  

footer {       
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(149,7,64,1)  0%, rgba(128,21,66,1) 65%,rgba(26,26,29,1)100%);
    width: 100%;
    text-align: left;   
    padding: 50px 50px 60px 50px;
    margin-top: 80px;   
    font-family: 'Raleway', sans-serif;   
}



