@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap');
@import "./footer";
@import "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 80vh;
    background-image: url(../img/tijerabcgtransparencia.png);    
    position: relative;
    z-index: 3;
    background-color: $colorbackg;
    
    
    }


.navbar {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, #1a1a1d 0%, rgb(128, 21, 66) 65%, rgb(149, 7, 64) 100%);

    .logotipo {
        width: 250px;
        transition: width 2s;
        &:hover{
            width: 280px;
        }
    }
    
    .nav-item {
    padding-inline-start: 150px;
    display:flex;
    justify-content: space-between;
    a {
        color: $colornavitem;
        text-decoration: none;
        font-size: 1.5rem;
        transition: all 2s;
        &:hover {
            color:$colorhover;
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;                  
                
        }                   
           
    }
   }  
}


.title {
           -webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
             animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
.container { 
    
    
    position:relative;
    z-index: 1;
    

    h1 {
        color:$colortextoprin;
    }

    h2 {
        text-align:right;
        color:$colortextoprin;
       
    }

    p {
        color:$colortextoprin;
        text-align: justify;


    }

    .containerVid {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        .mainContent__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;             
        }    
    
    }      
}            
         

 .card-body {
    background-color: $colorbackg;
    
    .card-text {
        a {
        text-decoration: none;
        color: $colortextoprin;
        &:hover {
            color: $colorhover;
            }
    } 
  }

   
 }
 .title {
    color: $colortextoprin;
    font-size: 5rem;
    padding-top: 20px;
 }
 .carousel {
    width: 80%;
    margin:auto;
  
}

.carousel-inner {
    align-content: center;
}

@mixin dimensiones($alto,$ancho,$bordradius) {
    height:$alto;
    width:$ancho;
    border-radius:$bordradius;
    

}

.formTurnos {
    background: $colorbackg;    
    @include dimensiones(fit-content, 50%, 30px);
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;      
    font-family: 'Raleway', sans-serif;
    color:$colortextoprin;
    line-height: 15pt;
    position: relative;
    z-index: 1;

    
    
}





.formContacto {
    background: $colorbackg; 
    @include dimensiones(fit-content, 50%, 30px);
    color:$colortextoprin;
    margin: auto;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 55px;    
    line-height: 15pt;

    .form-label {
        
       width: fit-content;

    }

}

@media only screen and (max-width: 480px) {
    .logotipo {
     justify-self: center;
     width: 100%;
     
    }
 
    .nav-item {
     display: flex;    
     justify-content: flex-start;
 
     }
 
     .nav-item a {
         font-size: medium;
     }


     @mixin dimensiones2($alto2,$ancho2,$display) {
        height: $alto2;
        width: $ancho2;
        display:$display;

     }       
   
 
    .formTurnos,
    .formContacto {
     @include dimensiones2(fit-content, 100%, flex);     
     flex-direction: column;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
     height: max-content;

     .servicios {
        display:inline-block;
     }    

     }
    } 
 
 
 

/* ----------------------------------------------
 * Generated by Animista on 2022-9-21 21:19:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  