footer {       
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(149,7,64,1)  0%, rgba(128,21,66,1) 65%,rgba(26,26,29,1)100%);
    width: 100%;
    text-align: left;   
    padding: 50px 50px 20px 50px;
    margin-top: 80px;   
    font-family: 'Raleway', sans-serif;
    
    h5, p {
        color: $colornavitem;
        text-align: center;
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }
    

    .mapa {
        margin-top: 5px;
        margin-bottom: 10px;
        
    }

    .redes {   
        
    text-align: center;

   
         a {
           width: 50px;
           height: 50px;
           text-decoration: none;
           color: $colornavitem;
           padding: 10px;
           font-size: 30px; 
           
           
       }
        
    }
   

    .copy a{
        width: 100%;
        padding-top: 20px;
    }

    
}

