
.navbar {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, #1a1a1d 0%, rgb(128, 21, 66) 65%, rgb(149, 7, 64) 100%);

    .logotipo {
        width: 250px;
        transition: width 2s;
        &:hover{
            width: 280px;
        }
    }
    
    .nav-item {
    padding-inline-start: 150px;
    display:flex;
    justify-content: space-between;
    a {
        color: $colornavitem;
        text-decoration: none;
        font-size: 1.5rem;        
        &:hover {
            color:$colorhover;
                             
                
        }                   
           
    }
   }  
}
