@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap");
footer {
  background: #1a1a1d;
  background: linear-gradient(0deg, #950740 0%, #801542 65%, #1a1a1d 100%);
  width: 100%;
  text-align: left;
  padding: 50px 50px 20px 50px;
  font-family: 'Raleway', sans-serif; }
  footer h5, footer p {
    color: #9c9c9e;
    text-align: center;
    font-size: 20px; }
  footer p {
    font-size: 17px; }
  footer .mapa {
    margin-top: 5px;
    margin-bottom: 10px; }
  footer .redes {
    text-align: center; }
    footer .redes a {
      width: 50px;
      height: 50px;
      text-decoration: none;
      color: #9c9c9e;
      padding: 10px;
      font-size: 30px; }
  footer .copy a {
    width: 100%;
    padding-top: 20px; }

.navbar {
  background: #1a1a1d;
  background: linear-gradient(0deg, #1a1a1d 0%, #801542 65%, #950740 100%); }
  .navbar .logotipo {
    width: 250px;
    transition: width 2s; }
    .navbar .logotipo:hover {
      width: 280px; }
  .navbar .nav-item {
    padding-inline-start: 150px;
    display: flex;
    justify-content: space-between; }
    .navbar .nav-item a {
      color: #9c9c9e;
      text-decoration: none;
      font-size: 1.5rem; }
      .navbar .nav-item a:hover {
        color: #4e4e50; }

body {
  height: 80vh; }

main {
  background-image: url(../img/tijerabcgtransparencia.png);
  background-color: #1a1a1d; }

.title {
  color: #f3cad5;
  font-size: 5rem;
  padding-top: 20px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  text-shadow: 2px 2px 5px #ff499399; }

.containerIndex {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "containerVid1 containerText1" "containerText2 containerVid2"; }
  .containerIndex .containerIndex_Vid1 {
    grid-area: containerVid1;
    padding-right: 20px;
    padding-top: 20px; }
  .containerIndex .containerIndex_Text1 {
    grid-area: containerText1;
    justify-content: right;
    padding-top: 20px; }
    .containerIndex .containerIndex_Text1 p {
      text-align: justify;
      padding-left: 20px; }
  .containerIndex .containerIndex_Vid2 {
    grid-area: containerVid2;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px; }
  .containerIndex .containerIndex_Text2 {
    grid-area: containerText2;
    justify-content: left;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px; }
    .containerIndex .containerIndex_Text2 p {
      text-align: justify;
      padding-right: 20px;
      padding-top: 10px; }
    .containerIndex .containerIndex_Text2 .titleSub {
      text-align: left; }
  .containerIndex h1 {
    color: #f3cad5; }
  .containerIndex h2 {
    color: #ff499399;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #4e4e50;
    text-align: right; }
  .containerIndex p {
    color: #f3cad5;
    text-align: justify; }

.cards {
  display: grid;
  grid-template-columns: repeat 3 1fr;
  grid-template-rows: repeat 2 1fr;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  justify-content: center;
  gap: 50px;
  padding-top: 20px; }
  .cards .card {
    width: 288px;
    background-color: #1a1a1d;
    border-radius: 15px;
    border-color: #e6b0bc; }
    .cards .card p {
      color: #f3cad5;
      justify-content: center; }
    .cards .card a {
      text-decoration: none;
      color: #f3cad5; }
      .cards .card a:hover {
        color: #4e4e50; }
  .cards .cardImg {
    width: 285px;
    border-radius: 15px; }

.card1 {
  grid-area: card1; }

.card2 {
  grid-area: card2; }

.card3 {
  grid-area: card3; }

.card4 {
  grid-area: card4; }

.card5 {
  grid-area: card5; }

.card6 {
  grid-area: card6; }

.title_2 {
  color: #ff499399;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #4e4e50; }

.carousel {
  width: 70%;
  margin: auto; }
  .carousel .carousel-inner {
    align-content: center; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.formTurnos {
  background: #1a1a1d;
  height: fit-content;
  width: 50%;
  border-radius: 30px;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 55px;
  font-family: 'Raleway', sans-serif;
  color: #f3cad5;
  line-height: 15pt; }
  .formTurnos .btn {
    color: #f3cad5; }

.formContacto {
  background: #1a1a1d;
  height: fit-content;
  width: 50%;
  border-radius: 30px;
  color: #f3cad5;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 55px;
  line-height: 15pt; }
  .formContacto .btn {
    color: #f3cad5; }

@media screen and (max-width: 768px) {
  .containerIndex {
    display: flex;
    flex-direction: column; }
    .containerIndex .mainContent__video {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .logotipo {
    justify-self: center;
    width: 100%; }
  .nav-item {
    display: flex;
    align-content: flex-start; }
  .nav-item a {
    font-size: medium; }
  .title {
    color: #f3cad5;
    font-size: 3rem;
    padding-top: 20px;
    justify-self: center; }
  .containerIndex {
    display: flex;
    flex-direction: column; }
    .containerIndex .mainContent__video {
      width: 100%; }
  .title_2 {
    text-align: center; }
  .carousel {
    width: 100%;
    margin: auto; }
  .cards {
    display: flex;
    flex-direction: column;
    width: 20px; }
  .formTurnos,
  .formContacto {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content; }
    .formTurnos .form-control,
    .formContacto .form-control {
      justify-content: center; }
    .formTurnos .form-select,
    .formContacto .form-select {
      justify-content: left; }
  .mapa {
    width: 80%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }
