@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap");
footer {
  background: #1a1a1d;
  background: linear-gradient(0deg, #950740 0%, #801542 65%, #1a1a1d 100%);
  width: 100%;
  text-align: left;
  padding: 50px 50px 20px 50px;
  margin-top: 80px;
  font-family: 'Raleway', sans-serif; }
  footer h5, footer p {
    color: #9c9c9e;
    text-align: center;
    font-size: 20px; }
  footer p {
    font-size: 17px; }
  footer .mapa {
    margin-top: 5px;
    margin-bottom: 10px; }
  footer .redes {
    text-align: center; }
    footer .redes a {
      width: 50px;
      height: 50px;
      text-decoration: none;
      color: #9c9c9e;
      padding: 10px;
      font-size: 30px; }
  footer .copy a {
    width: 100%;
    padding-top: 20px; }

.navbar {
  background: #1a1a1d;
  background: linear-gradient(0deg, #1a1a1d 0%, #801542 65%, #950740 100%); }
  .navbar .logotipo {
    width: 250px;
    transition: width 2s; }
    .navbar .logotipo:hover {
      width: 280px; }
  .navbar .nav-item {
    padding-inline-start: 150px;
    display: flex;
    justify-content: space-between; }
    .navbar .nav-item a {
      color: #9c9c9e;
      text-decoration: none;
      font-size: 1.5rem;
      transition: all 2s; }
      .navbar .nav-item a:hover {
        color: #4e4e50;
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  height: 80vh;
  background-image: url(../img/tijerabcgtransparencia.png);
  background-color: #1a1a1d; }

.title {
  -webkit-animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.container h1 {
  color: #f3cad5; }

.container h2 {
  text-align: right;
  color: #f3cad5; }

.container p {
  color: #f3cad5;
  text-align: justify; }

.container .containerVid {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }
  .container .containerVid .mainContent__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.card-body {
  background-color: #1a1a1d; }
  .card-body .card-text a {
    text-decoration: none;
    color: #f3cad5; }
    .card-body .card-text a:hover {
      color: #4e4e50; }

.title {
  color: #f3cad5;
  font-size: 5rem;
  padding-top: 20px; }

.carousel {
  width: 80%;
  margin: auto; }

.carousel-inner {
  align-content: center; }

.formTurnos {
  background: #1a1a1d;
  height: fit-content;
  width: 50%;
  border-radius: 30px;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 55px;
  font-family: 'Raleway', sans-serif;
  color: #f3cad5;
  line-height: 15pt;
  position: relative;
  z-index: 1; }

.formContacto {
  background: #1a1a1d;
  height: fit-content;
  width: 50%;
  border-radius: 30px;
  color: #f3cad5;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 55px;
  line-height: 15pt; }
  .formContacto .form-label {
    width: fit-content; }

@media only screen and (max-width: 480px) {
  .logotipo {
    justify-self: center;
    width: 100%; }
  .nav-item {
    display: flex;
    align-content: flex-start; }
  .nav-item a {
    font-size: medium; }
  .formTurnos,
  .formContacto {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: max-content; }
    .formTurnos .servicios,
    .formContacto .servicios {
      display: inline-block; } }

/* ----------------------------------------------
 * Generated by Animista on 2022-9-21 21:19:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
