@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,200&family=Raleway:wght@100;200;400&display=swap");
footer {
  background: #1a1a1d;
  background: linear-gradient(0deg, #950740 0%, #801542 65%, #1a1a1d 100%);
  width: 100%;
  text-align: left;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
  font-family: 'Raleway', sans-serif; }
  footer .icon {
    width: 40px;
    margin-top: 15px;
    margin-right: 15px;
    border: solid;
    padding: 10px; }

.icono--fa {
  background-color: #4a4ac4; }

.icono--in {
  background-color: #db53b2; }

.icono--tik {
  background-color: #00ff6a; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  height: 80vh;
  background-color: #1A1A1D; }

.navbar {
  background: #1a1a1d;
  background: linear-gradient(0deg, #1a1a1d 0%, #801542 65%, #950740 100%); }
  .navbar .logotipo {
    width: 250px;
    transition: width 2s; }
    .navbar .logotipo:hover {
      width: 280px; }
  .navbar .nav-item {
    padding-inline-start: 150px;
    display: flex;
    justify-content: space-between; }
    .navbar .nav-item a {
      color: #9c9c9e;
      text-decoration: none;
      font-size: 1.5rem;
      transition: all 2s; }
      .navbar .nav-item a:hover {
        color: #4e4e50;
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d; }

.container {
  background: #fc4690;
  background: radial-gradient(circle, rgba(255, 73, 147, 0.6) 0%, rgba(149, 7, 64, 0.563445) 100%); }
  .container h1 {
    color: #f3cad5; }
  .container h2 {
    text-align: right;
    color: #f3cad5; }
  .container p {
    color: #f3cad5;
    text-align: justify; }
  .container .containerVid {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; }
    .container .containerVid .mainContent__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; }

.card-body {
  background-color: rgba(255, 73, 147, 0.6); }
  .card-body .card-text a {
    text-decoration: none;
    color: #f3cad5; }
    .card-body .card-text a:hover {
      color: #1a1a1d; }

.title {
  color: #f3cad5; }

.carousel {
  width: 80%;
  margin: auto; }

.carousel-inner {
  align-content: center; }

.formTurnos {
  background: #fc4690;
  background: radial-gradient(circle, rgba(252, 70, 144, 0.594258) 0%, rgba(149, 7, 64, 0.563445) 100%);
  height: 650px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  padding-inline: 55px;
  border-radius: 30px;
  font-family: 'Raleway', sans-serif;
  line-height: 15pt; }

@media only screen and (max-width: 480px) {
  .logotipo {
    justify-self: center;
    width: 100%; }
  .nav-item {
    display: flex;
    justify-content: flex-start; }
  .nav-item a {
    font-size: medium; }
  .formTurnos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: max-content; }
    .formTurnos .servicios {
      display: inline-block; } }
