
@media screen and (max-width: 768px) {

    .containerIndex {  
    
        display:flex;
        flex-direction: column;


        .mainContent__video {
            width: 100%;
            
        }
         
            
    }

}

@media  screen and (max-width: 480px) {
    .logotipo {
     justify-self: center;
     width: 100%;
     
    }
    
    .nav-item {
        display: flex;    
        align-content: flex-start;
    
        }
    
        .nav-item a {
            font-size: medium;
        }
        

    .title {
    
        color: $colortextoprin;
        font-size: 3rem;
        padding-top: $paddingestandar;
        justify-self: center;
        }


    .containerIndex {  
    
        display:flex;
        flex-direction: column;


        .mainContent__video {
            width: 100%;
            
        }    
    }           
     
    
    .title_2 {
        text-align: center;

    }
    .carousel {
        width: 100%;
        margin:auto;
      
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 20px;
        justify-self: center;
        margin-left: 25px;
        
    }



 

    .formTurnos,
    .formContacto {
     @include dimensiones2(fit-content, 100%, flex);     
     flex-direction: column;
     justify-content: center;
     align-items: center;    
     height: max-content;

     

    .form-control {        
        justify-content:center;
    
    }

    .form-select {
        justify-content: left;
    }
    } 
 
 .mapa {
    width: 80%;
 }
 
}