
     @mixin dimensiones($alto,$ancho,$bordradius) {
        height:$alto;
        width:$ancho;
        border-radius:$bordradius;
        
    
    }
     
     @mixin dimensiones2($alto2,$ancho2,$display) {
        height: $alto2;
        width: $ancho2;
        display:$display;
    }

    @mixin subtitulos ($color,$transform,$textshadow) {
        color: $color;
        text-transform:$transform;
        text-shadow: $textshadow;
    }

    @mixin containerPadd ($paddingl, $paddingt, $paddingb) {
        padding-left: $paddingl;
        padding-top: $paddingt;
        padding-bottom: $paddingb;
    }


  